body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input{
  box-sizing: border-box;
  width : 150%; 
  border-radius: 5px;
  border: 1px inset #9090B0;
  padding: 4px;
} 

.fileinput{
  box-sizing: border-box;
  width : 100%; 
  border-radius: 5px;
  border: 1px inset #9090B0;
  padding: 4px;
} 

.inputlabel {
  text-align: right;
  padding-inline-end: 10px;
}

select{
  box-sizing: border-box;
  width : 100%; 
  border-radius: 5px;
  border: 1px inset #9090B0;
  padding: 4px;
} 

.filter {
  background: rgb(220, 220, 220);
  border: 3px inset #999;
  float: left;
  text-align: left;
  padding: 5px;
  width: 400px;
  border-radius: 5px;
}

.filterparams {
  background: rgb(255, 255, 255);
  border: 2px inset #999;
  float: left;
  text-align: left;
  padding: 5px;
  width: 100%;
  box-sizing: border-box;
  border-radius: 5px;
}

.mixers {
  float: left;
  text-align: left;
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
}

.filters {
  border: 4px solidwhite;
  float: left;
  text-align: left;
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
}

.mappings {
  float: left;
  text-align: left;
  padding: 5px;
  display: flex;
  width: 100%;
  box-sizing: border-box;
}

.mixersource {
  background: #fff;
  border: 2px solid #999;
  float: left;
  text-align: left;
  padding: 5px;
  width: 100%;
  box-sizing: border-box;
}

.mixermapping {
  background: #fff;
  border: 2px solid #999;
  float: left;
  text-align: left;
  padding: 5px;
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
}

.group {
  background: #fff;
  border: 2px inset #999;
  float: left;
  text-align: left;
  padding: 5px;
  width: 100%;
  box-sizing: border-box;
  border-radius: 5px;
}

.devices {
  background: rgb(220, 220, 220);
  border: 4px solidwhite;
  float: left;
  text-align: left;
  padding: 5px;
  display: flex;
  flex-direction: column;
  width: 450px;
}

.namelist {
  background: rgb(220, 220, 220);
  border: 4px solidwhite;
  float: left;
  text-align: left;
  padding: 5px;
  display: flex;
  flex-direction: column;
  width: 450px;
}

.pipeline {
  border: 4px solidwhite;
  float: left;
  text-align: left;
  padding: 5px;
  display: flex;
  flex-direction: column;
  width: 500px;
}

.mixer {
  background: rgb(220, 220, 220);
  border: 3px inset #999;
  float: left;
  text-align: left;
  padding: 5px;
  border-radius: 5px;
}

.mixerparams {
  background: rgb(220, 220, 220);
  border: 2px inset #999;
  float: left;
  text-align: left;
  padding: 5px;
  border-radius: 5px;
}

.pipelinestep {
  background: rgb(220, 220, 220);
  float: left;
  text-align: left;
  padding: 5px;
  width: 100%;
  box-sizing: border-box;
  flex-direction: column;
  border: 3px inset #999;
  border-radius: 5px;
}

.listitem {
  background: rgb(220, 220, 220);
  border: 4px solidwhite;
  float: left;
  text-align: left;
  padding: 5px;
  display: flex;
  flex-direction: column;
}

.configapp {
  background: white;
  float: left;
  text-align: left;
  padding: 5px;
  display: flex;
  flex-direction: row;
}

.sidepanel {
  background: white;
  float: left;
  text-align: left;
  padding: 10px;
  display: flex;
  flex-direction: column;
  width: 250px;
}

.sidepanelelement {
  background: white;
  float: left;
  text-align: left;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.configtabs {
  background: white;
  float: left;
  text-align: left;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
}

.left {
  width: 40%;
}
  
.right {
  width: 60%;
  float: left;
  display: flex;
}

.deletebutton {
  font-size: large;
  color: #fff;
  background-color: rgb(255, 0, 0);
  border: 1px outset rgb(255, 0, 0);
  border-radius: 5px;
  width: 34px;
  height: 34px;
}

.addbutton {
  font-size: larger;
  font-weight: 900;
  color: #fff;
  background-color:rgb(0, 255, 0);
  border: 1px outset rgb(0, 255, 0);
  border-radius: 5px;
  width: 34px;
  height: 34px;
}

.plotbutton {
  border: 1px outset rgb(184, 184, 184);
  border-radius: 5px;
  width: 60px;
  height: 34px;
}

.textbox {   
  box-sizing: border-box;
  width : 100%; 
  border-radius: 5px;
  border: 1px inset #9090B0;
  padding: 4px;
} 

.slidecontainer {
  box-sizing: border-box;
  width: 100%;
  float: left;
  display: flex;
}


