body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.filter {
  background: rgb(200, 200, 200);
  border: 2px solid #999;
  float: left;
  text-align: left;
  padding: 5px;
}

.filterparams {
  background: rgb(255, 255, 255);
  border: 2px solid #999;
  float: left;
  text-align: left;
  padding: 5px;
}

.mixers {
  float: left;
  text-align: left;
  padding: 5px;
  display: flex;
}

.filters {
  background: rgb(200, 200, 200);
  border: 4px solidwhite;
  float: left;
  text-align: left;
  padding: 5px;
  display: flex;

}

.mappings {
  float: left;
  text-align: left;
  padding: 5px;
  display: flex;
}

.mixersource {
  background: #fff;
  border: 2px solid #999;
  float: left;
  text-align: left;
  padding: 5px
}

.mixermapping {
  background: #fff;
  border: 2px solid #999;
  float: left;
  text-align: left;
  padding: 5px;
  display: flex;
  flex-direction: column
}

.device {
  background: #fff;
  border: 2px solid #999;
  float: left;
  text-align: left;
  padding: 5px;
}

.devices {
  background: rgb(200, 200, 200);
  border: 4px solidwhite;
  float: left;
  text-align: left;
  padding: 5px;
  display: flex;
  flex-direction: column
}

.mixer {
  background: rgb(200, 200, 200);
  border: 4px solidwhite;
  float: left;
  text-align: left;
  padding: 5px;
}

.listitem {
  background: rgb(200, 200, 200);
  border: 4px solidwhite;
  float: left;
  text-align: left;
  padding: 5px;
  display: flex;
  flex-direction: column
}

.configapp {
  background: white;
  float: left;
  text-align: left;
  padding: 5px;
  display: flex;
  flex-direction: column
}



