{# Template for pip requirements file -#}
aiohttp
git+https://github.com/HEnquist/pycamilladsp.git@{{ pycamilladsp_tag }}
camilladsp-plot[plot]@git+https://github.com/HEnquist/pycamilladsp-plot.git@{{ pycamilladsp_plot_tag }}
